*.*~
*.tmp
*.swp
*.os
*.oso
*.so
*.dylib
*.sln
install_manifest.txt
CMakeCache.txt
cmake_install.cmake
.sconsign.dblite
doc/html
doc/python
config.log
.idea
.sconf_temp
Release/
.vs/
*.vcxproj*
*.dir/
CMakeFiles/
x64/
cmake/
graphics/
